{% extends '0_base.html' %}
{% load static %}

{% block body %}

<div class="container my-5">

    <h1 class="text-center display-6 mb-5 fw-bold my-5">Quiénes Somos</h1>
    <div class="card mb-3 ">
        <div class="card-body ">
            <h5 class="card-title ">Sobre Nosotros</h5>
            <p class="card-text">
                En NutriSalud, nos enorgullece ofrecer a nuestros clientes una experiencia gastronómica excepcional.
                Fundado en 2019, hemos estado sirviendo deliciosos platos elaborados con los mejores ingredientes frescos y locales.
                Nuestro equipo se especializa en ofrecer.
            </p>
            <h5 class="card-title">Nuestro Equipo</h5>
            <p class="card-text">
                Conoce al talentoso equipo detrás de cada plato delicioso que servimos en [Nombre del Restaurante].
            </p>
            <ul class="list-unstyled">
                <li>Chef Ejecutivo: Nombre del Chef</li>
                <li>Sous Chef: Nombre del Chef</li>
                <li>Sommelier: Nombre del Sommelier</li>
            </ul>
            <h5 class="card-title">Misión y Visión</h5>
            <p class="card-text">
                 Nuestra misión es brindar a nuestros clientes una experiencia gastronómica inolvidable al ofrecer platos de alta calidad y servicio excepcional.
            </p>
            <p class="card-text">
                Nuestra visión es convertirnos en el restaurante favorito de nuestra comunidad, conocido por nuestra excelente comida, ambiente acogedor y atención al cliente excepcional.
            </p>
        </div>
    </div>
</div>
{% endblock %}