{% extends '0_base.html' %}
{% load static %}

{% block body %}
<div class="d-flex flex-column min-vh-100">
    <div class="container mt-3 mb-5">
        <h2 class="text-center mb-4">NutriBot</h2>
        <div id="conversation" class="bg-light p-3 rounded mb-3">
            {% for message in conversation %}
                {% if message.role == 'user' %}
                    <div class="user-messages">
                        <p><strong>Tú:</strong> {{ message.content }}</p>
                    </div>
                {% elif message.role == 'assistant' %}
                    <div class="chatbot-messages">
                        <p><strong>NutriBot:</strong> {{ message.content }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>       
        <form id="chat-form" method="POST" action="{% url 'chat_view' %}" class="d-flex">
            {% csrf_token %}
            <textarea rows="3" class="form-control me-2" id="user-input" name="user_input" placeholder="Escribe tu mensaje"></textarea>
            <input type="submit" value="Enviar" class="btn btn-primary">
        </form>
    </div>

    <div class="w-100">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/H_salmon.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Consejos para la DIABETES</h5>
                        <p>Controla tus niveles de AZÚCAR incluyendo alimentos ricos en FIBRA como VERDURAS y GRANOS ENTEROS. Limita los CARBOHIDRATOS REFINADOS y el AZÚCAR. Opta por PORCIONES PEQUEÑAS y monitorea tu INGESTA DE CARBOHIDRATOS. Mantente hidratado y realiza EJERCICIO REGULAR, lo que ayuda a mejorar la SENSIBILIDAD A LA INSULINA. Consulta a un profesional para ajustar tus comidas y medicación según tus niveles de glucosa. Usa el chat para más información personalizada.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/lasañacesar.PNG' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Consejos para la HIPERTENSIÓN</h5>
                        <p>Reduce la SAL en tus comidas y usa ESPECIAS y HIERBAS para dar sabor. Consume FRUTAS y VERDURAS ricas en POTASIO para controlar la presión arterial. Evita alimentos procesados y opta por opciones frescas y naturales. Mantén un PESO SALUDABLE y practica EJERCICIOS AERÓBICOS regularmente. Mantén el estrés bajo control y prioriza el descanso adecuado. Chatea con nosotros para obtener más consejos específicos.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/c_tacos_pescado.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Consejos para la OBESIDAD</h5>
                        <p>Prioriza una DIETA EQUILIBRADA, rica en PROTEÍNAS MAGRAS y baja en GRASAS SATURADAS. Mantén la actividad física regular para controlar el peso corporal. Limita los alimentos altos en CALORÍAS y AZÚCAR. Establece metas realistas y lleva un diario alimenticio para monitorear tu progreso. Considera el apoyo de un nutricionista. Para más tips, consulta con nuestro NutriBot.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/O_ensalada_pollo_parrilla.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Consejos para ENFERMEDADES RENALES</h5>
                        <p>Modera el consumo de PROTEÍNAS y elige opciones bajas en SODIO. Mantén una hidratación adecuada para apoyar la función renal. Evita alimentos procesados y limita el consumo de FÓSFORO y POTASIO según lo recomendado. Consulta a un especialista para obtener un plan de dieta personalizado. Chatea con nosotros para profundizar en este tema.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/canelones-pollo.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Consejos para la CELIAQUÍA</h5>
                        <p>Elimina el GLUTEN de tu dieta y opta por granos como ARROZ y QUINOA. Lee siempre las etiquetas para evitar contaminación cruzada. Incorpora alimentos naturalmente sin gluten y experimenta con nuevas recetas. Mantén un equilibrio nutricional consultando con un dietista. Usa el chat para obtener más recomendaciones específicas.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
    
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const chatForm = document.getElementById('chat-form');
        const userInput = document.getElementById('user-input');
        const conversation = document.getElementById('conversation');

        // Scroll conversation to the bottom
        conversation.scrollTop = conversation.scrollHeight;

        // Submit the form when the user presses Enter key
        userInput.addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                event.preventDefault();
                chatForm.submit();
            }
        });

        // Focus on the user input field
        userInput.focus();
    });
</script> 
{% endblock %}
